@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.titulo {
  grid-column: 1 / -1;
}

.info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 20px;
}

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  color: #103;
  font-size: 20px;
  text-align: center;
}

.comprar:hover {
  color: rgb(238, 215, 248);
  background: rgba(170, 136, 255, 0.952);
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
