* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: black;
}

body {
  background-color: #f7f7f7;
}

p {
  font-size: 20px;
  color: #c6c6c6;
}

img {
  max-width: 100%;
}

/* header */
header {
  padding: 1rem;
}

.titulo {
  text-align: center;
  margin: 3rem 0;
}

.titulo_destaque {
  font-size: 64px;
  color: #c6c6c6;
  text-align: end;
  place-self: center end;
  margin-right: 3rem;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 1rem;
}

a,
button {
  padding: 1rem 2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: white;
}

a:hover {
  background-color: #ee2211;
  color: white;
}

/* main */

main {
  display: grid;
  grid-template-columns: 500px 500px;
  place-content: center;
}

.column1_element1 {
  position: relative;
  display: grid;
  place-items: end end;
  gap: 0;
  text-align: end;
  padding: 3rem;
  background-color: white;
}

.vermelho {
  position: absolute;
  top: 30px;
  right: -30px;
  width: 60px;
  height: 4px;
  background: #ee2211;
}
.column1_element1 h1 {
  margin: 0;
  line-height: 0;
}

.column1_element1 p {
  line-height: 1.75rem;
}

button {
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1rem;
  background-color: #ee2211;
}

button:hover {
  background-color: #ee2311af;
}

.all_info {
  display: grid;
  position: relative;
  place-items: center center;
  text-align: start;
  padding: 4rem;
  gap: 1rem;
  background-color: white;
}

.all_info h2 {
  margin-bottom: 0.5rem;
}

.all_info img {
  position: absolute;
  margin-top: 3px;
  left: 30px;
}

/* footer */

footer {
  background-color: white;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 5rem;
  padding: 3rem 0;
}
