@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 1rem;
}

h1, h2, h3 {
  background-color: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 1rem;
  border-radius: 4px;
  margin: 0;
}
