@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 1rem;
  border-radius: 4px;
  margin: 0;
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  gap: 1rem;
}
