/* footer.css */

.footer-bg {
  background-color: #000000;
  padding: 40px 0 20px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.footer-texto p {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #cccccc;
  max-width: 35ch;
}

.footer-contato ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contato a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  transition: 0.3s;
}

.footer-contato a:hover {
  color: #6ab708; 
}

.footer-copy {
  grid-column: 1 / -1; 
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #8f8f8f;
  justify-self: start;
}

/* Responsividade */
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer-texto p {
    font-size: 1.125rem;
    max-width: none;
  }

  .footer-contato a {
    font-size: 1.25rem;
  }

  .footer-copy {
    justify-self: center;
  }
}