@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #141414;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  align-items: center;
  gap: 3rem 8.75rem;
  /* background: rgba(0, 145, 60, 0.421); */
  /* gap: 4rem 6rem; */
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a,
ul,
li {
  display: block;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 1250px) {
}

@media (max-width: 850px) {
  .container {
    gap: 4rem 4rem;
  }
}
@media (max-width: 670px) {
  .container {
    gap: 2rem 0rem;
  }
}
@media (max-width: 450px) {
  .container {
    gap: 1rem 0rem;
  }
}
