.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.menu a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.125rem;
  transition: 0.3s;
  position: relative;
}

.menu a:after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: #6ab708;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

.menu a:hover::after {
  width: 100%;
}

/* Responsividade */

@media (max-width: 800px) {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 500px) {
  .menu {
    gap: 1rem;
    justify-content: center;
  }
  .menu a {
    font-size: 0.875rem;
  }
}
