.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.menu a {
  display: block;
  padding: 1rem 0;
}

.menu a:hover {
  text-decoration: underline #6ab708 3px;
  text-underline-offset: 6px;
}

@media (max-width: 800px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 500px) {
   .nav {
    margin-bottom: 1rem;
    gap: 0.5rem;
  }
  .menu {
    display: grid;
    justify-items: center;
    gap: 0rem;
  }
  .menu a {
    font-size: 0.75rem;
    padding: 0.5rem 0;
  }
}
