/* secao-1.css */

.secao-1 {
  align-items: center;
}

.texto-hero h1 {
  position: relative;
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 1.875rem;
  /* white-space: nowrap; */
}

/* O detalhe decorativo atrás do texto */
.texto-hero h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  position: absolute;
  background: url("../../assets/portfólio/detalhe.svg") no-repeat center;
  top: -1rem;
  left: -1.5rem;
  z-index: -1;
}
.texto-hero p {
  font-size: 1.5rem;
  white-space: nowrap;
}

/* Ajustes de Responsividade */
@media (max-width: 1200px) {
  .texto-hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1000px) {
  .secao-1 {
    gap: 0rem 5rem;
  }
}

@media (max-width: 800px) {
  .secao-1 {
    grid-template-columns: 1fr 1fr;
  }

  .texto-hero h1 {
    font-size: 2.75rem;
  }

  .texto-hero h1::before {
    transform: translateX(-20%) scale(0.8);
    top: -2rem;
  }
}

@media (max-width: 650px) {
  .secao-1 {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .foto-hero img {
    display: none;
  }
  .texto-hero h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .texto-hero h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .texto-hero h1 {
    font-size: 2.5rem;
  }
  .texto-hero p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .texto-hero h1 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 260px) {
  .texto-hero h1 {
    font-size: 1.75rem;
  }
  .texto-hero p {
    font-size: 0.8rem;
  }
  .texto-hero h1::before {
    transform: scale(60%);
    top: -30px;
    left: -30px;
  }
}
