/* secao-2.css */

.secao-2 {
  grid-template-rows: auto 1fr;
  align-items: start;
}

.nome-secao {
  align-self: start;
  grid-row: 1 / -1;
}

.titulo-lateral {
  font-size: 8rem;
  line-height: 1;
  color: #e0e0e0;
  word-break: break-all;
  width: 4ch;
  text-transform: uppercase;
}

.texto-intro p {
  font-size: 1.5rem;
  color: #525252;
  margin-bottom: 2rem;
  max-width: 40ch;
}

.item-trabalho {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 1.5rem;
  gap: 0.625rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 1px solid #f0f0f0;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

/* A linha decorativa lateral */
.item-trabalho::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 23px;
  left: -4px;
}

.item-trabalho .ano {
  position: absolute;
  text-align: end;
  width: 3.125rem;
  top: 23px;
  left: -4.5rem;
}

.item-trabalho h3,
.cargo {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: bold;
}

.item-trabalho .descricao {
  max-width: 80%;
  color: #525252;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-content: start;
}

.badges li {
  padding: 5px 10px;
  line-height: 1.4;
  border-radius: 0.3125rem;
  background: #ffffff;
}

/* Ajustes de Responsividade */
@media (max-width: 1200px) {
  .lista-experiencias {
    gap: 0.625rem 0rem;
  }
}

@media (max-width: 1000px) {
  .secao-2 {
    gap: 3rem 5rem;
  }
  .nome-secao {
    grid-row: 1;
  }
  .titulo-lateral {
    font-size: 6rem;
    line-height: 1;
  }
  .lista-experiencias {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    max-width: 90%;
    justify-self: end;
  }
  .item-trabalho {
    grid-row: 1;
  }
}

@media (max-width: 728px) {
  .secao-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .nome-secao {
    grid-row: 1;
    display: flex;
    justify-content: start;
  }
  .titulo-lateral {
    font-size: 6rem;
    width: initial;
    max-width: initial;
    line-height: 1.1;
  }
  .texto-intro {
    grid-row: 2;
    order: 0;
  }
  .texto-intro p {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .lista-experiencias {
    transform: scale(0.9) translateX(5%);
    grid-row: 3;
    grid-column: 1 / -1;
    max-width: 100%;
  }

  .item-trabalho .ano {
    left: -3.7rem;
  }
}

@media (max-width: 450px) {
  .titulo-lateral {
    font-size: 4rem;
  }
  .lista-experiencias {
    transform: scale(90%);
    max-width: 100%;
    grid-row: 3;
    grid-column: 1 / -1;
  }

  .item-trabalho {
    grid-template-columns: 1fr;
    gap: 0.625rem 0rem;
  }

  .item-trabalho .ano {
    position: static;
    text-align: start;
    width: auto;
  }
  .item-trabalho .cargo {
    font-weight: 500;
    color: #525252;
  }
}

@media (max-width: 300px) {
  .lista-experiencias {
    transform: scale(1) translateX(0%);
  }
  .item-trabalho {
    padding: 0.85rem;
  }

  .item-trabalho p {
    font-size: 0.8rem;
  }
}
