/* secao-3.css */


.secao-3 {
  grid-template-rows: auto auto auto;
  align-items: start;
}

.formacao-bg {
  background: #141414;
}

.secao-3 .nome-secao {
  grid-row: 1 / -1;
}

.titulo-lateral-escuro {
  font-size: 9rem;
  line-height: 1;
  color: #000000;
  max-width: 5ch;
  text-transform: uppercase;
}

.texto-intro-claro p {
  font-size: 1.45rem;
  line-height: 2rem;
  color: #a3a3a3;
}

.texto-intro-claro strong {
  color: white;
}

.lista-formacoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.card-formacao {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background: #090909;
  border-radius: 0.3125rem;
  padding: 1.5rem;
  max-width: 100%;
  gap: 0.625rem 3rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 1px solid #000000;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-formacao::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a) no-repeat center;
  top: 57px;
  left: -4px;
  z-index: 2;
}

.card-formacao h3 {
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.5625rem;
  margin-bottom: 2rem;
}

.card-formacao .tipo {
  font-size: 0.875rem;
  font-weight: 400;
  color: #a3a3a3;
}

.card-formacao .instituicao {
  font-size: 1.125rem;
  font-weight: 400;
  color: #a3a3a3;
}

.cursos,
.idiomas {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 3.625rem;
  gap: 1rem;
  width: 100%;
}

.cursos h3,
.idiomas h3 {
  font-size: 0.875rem;
  color: #8f8f8f;
  grid-column: 2;
}
.cursos ul,
.idiomas ul {
  grid-column: 2;
}
.cursos ul li {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
}

.idiomas ul li {
  display: flex;
  gap: 1rem;
  grid-column: 2;
}

.cursos li p,
.idiomas li p {
  color: white;
  grid-column: 2;
}

.cursos span,
.idiomas strong {
  color: #8f8f8f;
  font-weight: 400;
}

@media (max-width: 1080px) {
  .secao-3 .nome-secao {
    grid-row: 1;
    gap: 3rem 5rem;
  }
  .titulo-lateral-escuro {
    font-size: 6rem;
  }
  .lista-formacoes {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  .extras-formacao {
    display: flex;
    gap: 3rem;
    grid-row: 3;
    grid-column: 1 / -1;
  }
}

@media (max-width: 670px) {
  .secao-3 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: start;
    gap: 3rem 5rem;
  }
  .secao-3 .nome-secao {
    grid-row: 1;
  }
  .secao-3 .texto-intro-claro {
    grid-row: 2;
  }
  .lista-formacoes {
    grid-row: 3;
  }
  .extras-formacao {
    grid-row: 4;
  }
  .titulo-lateral-escuro {
    grid-row: 1;
    font-size: 5rem;
    max-width: 100%;
    word-break: break-all;
  }

  .cursos, .idiomas {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 0rem;
    gap: 1rem;
    width: 100%;
    align-self: start;
  }
  .cursos ul li,
  .idiomas ul li{
    gap: 0rem;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .lista-formacoes {
    grid-template-columns: 1fr;
  }
  .card-formacao h3 {
    margin: 0rem;
  }
}
@media (max-width: 450px) {
  .secao-3 .texto-intro-claro p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .titulo-lateral-escuro {
    font-size: 3.5rem;
    margin: 0;
  }
  .extras-formacao {
    flex-direction: column;
  }
}
