.sessao-3 {
  grid-template-rows: auto auto auto;
  align-items: start;
}

.background-formacao {
  background: #141414;
}

.sessao-3 .left {
  grid-row: 1 / -1;
}

.sessao-3 .info-texto p {
  font-size: 1.45rem;
  line-height: 2rem;
}

.sessao-3 .info-texto strong {
  color: white;
}

.titulo-formacao {
  font-size: 9rem;
  line-height: 1;
  color: #000000;
  max-width: 5ch;
}

.formacoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.sessoes-formacao {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background: #090909;
  border-radius: 0.3125rem;
  padding: 1.5rem;
  max-width: 100%;
  gap: 0.625rem 3rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 1px solid #000000;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.sessoes-formacao::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a) no-repeat center;
  top: 57px;
  left: -4px;
  z-index: 2;
}

.sessoes-formacao h2 {
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.5625rem;
  margin-bottom: 2rem;
}

.sessoes-formacao h3 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #a3a3a3;
}

.sessoes-formacao span {
  font-size: 1.125rem;
  font-weight: 400;
  color: #a3a3a3;
}

.sessoes-cursos-idioma {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 3.625rem;
  gap: 1rem;
  width: 100%;
}

.sessoes-cursos-idioma h3 {
  font-size: 0.875rem;
  color: #8f8f8f;
  grid-column: 2;
}
.sessoes-cursos-idioma div {
  display: flex;
  justify-content: space-between;
  grid-column: 2;
}
.sessoes-cursos-idioma p {
  color: white;
  grid-column: 2;
}

.sessoes-cursos-idioma strong,
span {
  color: #8f8f8f;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .sessao-3 .left {
    grid-row: 1;
  }
  .info-formacoes {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  .info-curso-idioma {
    display: flex;
    gap: 3rem;
    grid-row: 3;
    grid-column: 1 / -1;
  }
  .titulo-formacao {
    font-size: 6rem;
  }
}

@media (max-width: 670px) {
  .sessao-3 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: start;
  }
  .sessao-3 .left {
    grid-row: 1;
  }
  .sessao-3 .info-texto {
    grid-row: 2;
  }
  .info-formacoes {
    grid-row: 3;
  }
  .info-curso-idioma {
    grid-row: 4;
  }
  .titulo-formacao {
    grid-row: 1;
    font-size: 5rem;
    max-width: 100%;
    word-break: break-all;
  }

  .sessoes-cursos-idioma {
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 0rem;
    gap: 1rem;
    width: 100%;
    align-self: start;
  }
  .sessoes-cursos-idioma div {
    gap: 1rem;
    flex-direction: column;
  }
}
@media (max-width: 540px) {
  .formacoes {
    grid-template-columns: 1fr;
  }
  .sessoes-formacao h2 {
    margin: 0rem;
  }
}
@media (max-width: 450px) {
  .sessao-3 .info-texto p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .titulo-formacao {
    font-size: 3.5rem;
    margin: 0;
  }
  .info-curso-idioma {
    flex-direction: column;
  }
}
