.sessao-2 {
  grid-template-rows: auto 1fr;
}

/* left side */
.left {
  align-self: start;
  grid-row: 1 / -1;
}

.titulo-experiencia {
  font-size: 9rem;
  line-height: 1;
  color: #e0e0e0;
  word-break: break-all;
  width: 4ch;
}

/* right side */

.info-texto {
  grid-row: 1;
}

.info-texto p {
  font-size: 1.5rem;
  max-width: 80%;
  color: #525252;
}

.info-experiencias {
  grid-row: 2;
}

.sessoes-experiencias {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  background: #f5f5f5;
  border-radius: 0.3125rem;
  padding: 1.5rem;
  gap: 0.625rem 3rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  border: 1px solid #f0f0f0;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.sessoes-experiencias::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a) no-repeat center;
  top: 23px;
  left: -4px;
  z-index: 2;
}

.sessoes-experiencias span {
  position: absolute;
  text-align: end;
  width: 3.125rem;
  top: 23px;
  left: -4.5rem;
}

.sessoes-experiencias h2 {
  font-size: 1.125rem;
  line-height: 1;
}

.sessoes-experiencias p {
  max-width: 80%;
  color: #525252;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-content: start;
}

.badges li {
  padding: 5px 10px;
  line-height: 1.4;
  border-radius: 0.3125rem;
  background: #ffffff;
}

@media (max-width: 1200px) {
  .sessoes-experiencias {
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem 0rem;
  }
}

@media (max-width: 1000px) {
  .sessoes-experiencias {
    grid-template-columns: 2fr 1fr;
    gap: 0.625rem 0rem;
  }
  .sessao-2 {
    gap: 3rem 5rem;
  }
  .info-texto p {
    max-width: 100%;
  }
  .left {
    grid-row: 1;
  }
  .info-texto {
    grid-row: 1;
  }
  .titulo-experiencia {
    font-size: 6rem;
    line-height: 1;
  }
  .info-experiencias {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    max-width: 90%;
    justify-self: end;
  }
}

@media (max-width: 728px) {
  .info-experiencias {
    transform: scale(90%);
    max-width: 100%;
  }
  .sessoes-experiencias span {
    left: -3.7rem;
  }
}

@media (max-width: 670px) {
  .sessao-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .left {
    grid-row: 1;
    display: flex;
    justify-content: start;
  }
  .titulo-experiencia {
    font-size: 4rem;
    width: initial;
    max-width: initial;
    line-height: 1.1;
  }

  .info-texto {
    grid-row: 2;
    order: 0;
  }
  .info-experiencias {
    transform: scale(0.9) translateX(5%);
    grid-row: 3;
    grid-column: 1 / -1;
  }
}

@media (max-width: 450px) {

  .info-texto p {
    font-size: 1.25rem;
  }

  .info-experiencias {
    transform: scale(90%);
    max-width: 100%;
    grid-row: 3;
    grid-column: 1 / -1;
  }

  .sessoes-experiencias {
    grid-template-columns: 1fr;
    gap: 0.625rem 0rem;
  }

  .sessoes-experiencias span {
    position: static;
    text-align: start;
    width: auto;
  }
  .sessoes-experiencias h2:first-child {
    font-size: 5rem;
  }
}

@media (max-width: 300px) {
  .info-experiencias {
    transform: scale(1) translateX(0%);
  }
  .sessoes-experiencias {
    padding: 0.85rem;
  }

  .sessoes-experiencias p {
    font-size: 0.8rem;
  }
}
