@import url("./global.css");
@import url("./header.css");
@import url("./sessoes.css");
@import url("./sessao-1.css");
@import url("./sessao-2.css");
@import url("./sessao-3.css");
@import url("./footer.css");